# Carole's playground

In [369]:
import sys
import requests
import json
import pandas as pd
from IPython.display import display, HTML

## Helpers

In [370]:
def prettyPrint(rawjson):
    print(json.dumps(rawjson, indent=2))
    
def prettyDfSize(df):
    print('Rows: {}, Columns: {}'.format(len(df), len(df.columns)))
    
def get(url):
    result = {
        'successful' : False,
        'raw' : None,
        'json' : None
    }
    r = requests.get(url)
    result['raw'] = r
    if(r.status_code != 200):
        print('Error returned for {}: {}'.format(r.url, r.status_code))
        print(r.text)
    else:
        result['successful'] = True
        result['json'] = json.loads(r.text)
    return result

In [371]:
apikey = 'BuiXohTN1i'
baseUrl = 'http://data.ons.gov.uk/ons/api/data'
apikKeyParam = 'apikey={}'.format(apikey);

url = 'http://data.ons.gov.uk/ons/api/data/.json?apikey=' + apikey

## Available contexts

In [372]:
url = '{}/contexts.json?{}'.format(baseUrl, apikKeyParam)
print(url)
response = get(url)
if response['successful'] == False:
    print('Error')
else:
    contexts = response['json']
    for context in contexts['ons']['contextList']['statisticalContext']:
        print(context)

http://data.ons.gov.uk/ons/api/data/contexts.json?apikey=BuiXohTN1i
{'contextName': 'Census', 'contextId': 1}
{'contextName': 'Socio-Economic', 'contextId': 2}
{'contextName': 'Economic', 'contextId': 3}
{'contextName': 'Social', 'contextId': 4}

## Concepts
The context must be set to Census

In [373]:
context = 'Census'
url = '{}/concepts.json?{}&context={}'.format(baseUrl, apikKeyParam, context)
url

'http://data.ons.gov.uk/ons/api/data/concepts.json?apikey=BuiXohTN1i&context=Census'

In [374]:
r = get(url)
if r['successful'] == 'False':
    print('Error')
else:
    concepts = [concept for concept in r['json']['ons']['conceptList']['concept']]
    temp = {'name':[], 'id':[], 'usage_number':[]}
    #prettyPrint(concepts)
    for concept in concepts:
        temp['id'].append(concept['id'])
        temp['usage_number'].append(concept['collectionCount'])
        temp['name'].append([name for name in concept['names']['name'] if name['@xml.lang'] == 'en'][0]['$'])
    conceptsdf = pd.DataFrame(temp)
    conceptsdf['id'] = conceptsdf['id'].astype(int)

#### List of concepts

In [375]:
print(url)
prettyDfSize(conceptsdf)
conceptsdf.sort_values(['name'])

http://data.ons.gov.uk/ons/api/data/concepts.json?apikey=BuiXohTN1i&context=Census
Rows: 58, Columns: 3

     id                                               name  usage_number
35   45                                 Accommodation type            19
11    1                                                Age           186
47   72                           Age of arrival in the UK             9
34   46                                       Cars or vans            30
33   47                                    Central heating            11
32   48                            Communal establishments            23
19   32                                   Country of birth            42
57   21                                         Demography             0
10   22                                 Dependent children            26
31   49                                          Dwellings             6
42   62                                  Economic activity            62
18   33                                       Ethnic group            65
56   31         Ethnicity, Identity, Language and Religion             0
0    76                                        Family type            18
22   41                                     General health            37
55   40                                             Health             4
48   60                     Highest level of qualification            52
41   63                                       Hours worked            14
9    23                              Household composition            47
8    24                   Household deprivation dimensions             1
30   50                                     Household size             5
29   51                             Household space status             4
54   44                          Housing and Accommodation             0
40   64                                           Industry            39
44  136                                 Internal migration             8
52   61                                      Labour Market             0
46   73                      Length of residence in the UK             4
7    25                                Living arrangements             8
21   42             Long-term health problem or disability            27
17   34                                      Main language            11
1    75                Marital and civil partnership staus             7
43   70                           Method of travel to work            26
50   71                                          Migration             7
39   65  National Statistics Socio-economic Classification            41
16   35                                  National identity            12
28   52                                 Number of bedrooms            10
27   53                                    Number of rooms             2
26   54                                   Occupancy rating            26
38   66                                         Occupation            44
15   36                                          Passports            36
6    26                             People sleeeping rough             0
25   55                                Persons per bedroom             6
24   56                                   Persons per room             6
5    27                                 Population density             1
14   37                             Proficiency in English            16
20   43                           Provision of unpaid care            12
49   58                                     Qualifications             1
53   59                                     Qualifications             0
13   38                                           Religion            38
4    28                                     Residence type             9
3    29                                     Second address             6
2    30                                                Sex           169
37   67                                       Social grade            14
23   57                                             Tenure            57
51   69                                     Travel to work            19
12   39                                     Welsh language            42
36   68                                   Year last worked             6
45   74                          Year of arrival in the UK            21

# Classifications

In [376]:
context = 'Census'
url = '{}/classifications.json?{}&context={}'.format(baseUrl, apikKeyParam, context)
url

'http://data.ons.gov.uk/ons/api/data/classifications.json?apikey=BuiXohTN1i&context=Census'

In [377]:
r = get(url)
if r['successful'] == False:
    print('Error')
else:
    classifications = [classification for classification in r['json']['ons']['classificationList']['classification']]
    temp = {'name':[], 'id':[], 'url':[]}
    temp['id'] = [classification['id'] for classification in classifications]
    temp['name'] = [[name['$'] for name in classification['names']['name'] if name['@xml.lang'] == 'en'][0] for classification in classifications]
    temp['url'] = [[url['href'] for url in classification['urls']['url'] if url['@representation'] == 'json'][0] for classification in classifications]
    classificationsdf = pd.DataFrame(temp)

#### List of classifications

In [378]:
prettyDfSize(classificationsdf)
classificationsdf.sort_values(['name'])

Rows: 546, Columns: 3

,id,name,url
521,CL_0000100,Ability to read Welsh language (T001A),classification/CL_0000100.json?apikey=BuiXohTN...
508,CL_0001361,Ability to speak Welsh (T003D),classification/CL_0001361.json?apikey=BuiXohTN...
147,CL_0000111,Ability to speak Welsh and age of dependent ch...,classification/CL_0000111.json?apikey=BuiXohTN...
408,CL_0000101,Ability to speak Welsh language (T001A),classification/CL_0000101.json?apikey=BuiXohTN...
223,CL_0000024,Ability to speak Welsh language (T003A),classification/CL_0000024.json?apikey=BuiXohTN...
68,CL_0000102,Ability to understand spoken Welsh language (T...,classification/CL_0000102.json?apikey=BuiXohTN...
323,CL_0000103,Ability to write Welsh language (T001A),classification/CL_0000103.json?apikey=BuiXohTN...
107,CL_0000969,Accommodation type,classification/CL_0000969.json?apikey=BuiXohTN...
502,CL_0000551,Accommodation type (T003A),classification/CL_0000551.json?apikey=BuiXohTN...
82,CL_0000532,Accommodation type (T004A),classification/CL_0000532.json?apikey=BuiXohTN...
514,CL_0000507,Accommodation type (T006A),classification/CL_0000507.json?apikey=BuiXohTN...
20,CL_0000159,Accommodation type (T009A),classification/CL_0000159.json?apikey=BuiXohTN...
283,CL_0000975,Accommodation type (percentage),classification/CL_0000975.json?apikey=BuiXohTN...
26,CL_0000204,Accommodation type by dwelling type (T011A),classification/CL_0000204.json?apikey=BuiXohTN...
58,CL_0000105,Accommodation type by dwelling type (T012A),classification/CL_0000105.json?apikey=BuiXohTN...
14,CL_0000597,Adult lifestage (T011A),classification/CL_0000597.json?apikey=BuiXohTN...
363,CL_0000529,Adult lifestage (T014A),classification/CL_0000529.json?apikey=BuiXohTN...
304,CL_0000070,Adult lifestage (T027A),classification/CL_0000070.json?apikey=BuiXohTN...
237,CL_0000937,Adults not in employment and dependent children,classification/CL_0000937.json?apikey=BuiXohTN...
276,CL_0000941,Adults not in employment and dependent childre...,classification/CL_0000941.json?apikey=BuiXohTN...
362,CL_0001057,Age,classification/CL_0001057.json?apikey=BuiXohTN...
128,CL_0001060,Age,classification/CL_0001060.json?apikey=BuiXohTN...
499,CL_0001037,Age,classification/CL_0001037.json?apikey=BuiXohTN...
60,CL_0001091,Age,classification/CL_0001091.json?apikey=BuiXohTN...
434,CL_0001274,Age,classification/CL_0001274.json?apikey=BuiXohTN...
314,CL_0001036,Age,classification/CL_0001036.json?apikey=BuiXohTN...
309,CL_0001063,Age,classification/CL_0001063.json?apikey=BuiXohTN...
241,CL_0000954,Age,classification/CL_0000954.json?apikey=BuiXohTN...
386,CL_0001110,Age,classification/CL_0001110.json?apikey=BuiXohTN...
289,CL_0001052,Age,classification/CL_0001052.json?apikey=BuiXohTN...
...,...,...,...
229,CL_0000516,Unemployment history (T009A),classification/CL_0000516.json?apikey=BuiXohTN...
139,CL_0000081,Unemployment history (T012A),classification/CL_0000081.json?apikey=BuiXohTN...
518,CL_0000037,Unit in which the data values are measured,classification/CL_0000037.json?apikey=BuiXohTN...
43,CL_0000146,Usual resident (Indicator) by age 16 and over ...,classification/CL_0000146.json?apikey=BuiXohTN...
280,CL_0000014,Usual resident (Indicator) by age 3 and over (...,classification/CL_0000014.json?apikey=BuiXohTN...
406,CL_0000775,Usual resident (Indicator) by residence type (...,classification/CL_0000775.json?apikey=BuiXohTN...
416,CL_0000800,Welsh Language Skills,classification/CL_0000800.json?apikey=BuiXohTN...
532,CL_0000801,Welsh Language Skills (Percentage),classification/CL_0000801.json?apikey=BuiXohTN...
142,CL_0000110,Welsh household composition (T009A),classification/CL_0000110.json?apikey=BuiXohTN...
19,CL_0000490,Welsh household composition (T014A),classification/CL_0000490.json?apikey=BuiXohTN...
365,CL_0000288,Welsh household composition (extended) (T018A),classification/CL_0000288.json?apikey=BuiXohTN...
329,CL_0000802,Welsh language profile,classification/CL_0000802.json?apikey=BuiXohTN...
204,CL_0000803,Welsh language profile (Percentage),classification/CL_0000803.json?apikey=BuiXohTN...
114,CL_0000191,Welsh language skills (Indicator) (T001A),classification/CL_0000191.json?apikey=BuiXohTN...
432,CL_0000122,Welsh language skills (Indicator) (T003A),classification/CL_0000122.json?apikey=BuiXohTN...
305,CL_0000871,Welsh language skills (T009A),classification/CL_0000871.json?apikey=BuiXohTN...
512,CL_0000869,Welsh language skills (T009A),classification/CL_0000869.json?apikey=BuiXohTN...
417,CL_0000870,Welsh language skills (detailed) (T012A),classification/CL_0000870.json?apikey=BuiXohTN...
467,CL_0000872,Welsh language skills (detailed) (T012A),classification/CL_0000872.json?apikey=BuiXohTN...
140,CL_0000082,Welsh language skills 2 (T001A),classification/CL_0000082.json?apikey=BuiXohTN...
281,CL_0000474,Welsh language skills 2 (T007A),classification/CL_0000474.json?apikey=BuiXohTN...
221,CL_0000092,Welsh language skills 2 (T009A),classification/CL_0000092.json?apikey=BuiXohTN...
167,CL_0000088,Welsh language skills 2 (T011A),classification/CL_0000088.json?apikey=BuiXohTN...
271,CL_0001358,Welsh speaking households (T003D),classification/CL_0001358.json?apikey=BuiXohTN...
490,CL_0000170,Year of arrival in the UK (T007A),classification/CL_0000170.json?apikey=BuiXohTN...
152,CL_0000167,Year of arrival in the UK (T007B),classification/CL_0000167.json?apikey=BuiXohTN...
211,CL_0000192,Year of arrival in the UK (T007C),classification/CL_0000192.json?apikey=BuiXohTN...
203,CL_0000030,Year of arrival in the UK (T007D),classification/CL_0000030.json?apikey=BuiXohTN...
50,CL_0000096,Year of arrival in the UK (T012A),classification/CL_0000096.json?apikey=BuiXohTN...
89,CL_0000171,Year of arrival in the UK (T013A),classification/CL_0000171.json?apikey=BuiXohTN...

### Classification Details
#### Religion

In [379]:
def classificationDetails(classificationName):
    print(classificationName)
    filteredClassifications = classificationsdf[classificationsdf.name == classificationName]
    prettyDfSize(filteredClassifications)
    
    for index, classification in filteredClassifications.iterrows():
        urlarg = classification['url']
        url = '{}/{}'.format(baseUrl, urlarg)
        print(url)

        r = requests.get(url)
        if(r.status_code != 200):
            print('Error returned for {}: {}'.format(r.url, r.status_code))
            print(r.text)
        else:
            try:
                raw = json.loads(r.text)
                codes = [code for code in raw['Structure']['CodeLists']['CodeList']['Code']]
                temp = {'description':[], 'value':[]}
                temp['value'] = [code['@value'] for code in codes]
                temp['description'] = [[desc['$'] for desc in code['Description'] if desc['@xml.lang'] == 'en'][0] for code in codes]
                codesdf = pd.DataFrame(temp)
                display(codesdf.sort_values(['description']))
            except TypeError:
                # saw that happening where Description is not an array for some reasons...
                print("TypeError:", sys.exc_info()[0])

In [380]:
df = classificationDetails('Religion')
df

Religion
Rows: 1, Columns: 3
http://data.ons.gov.uk/ons/api/data/classification/CL_0001053.json?apikey=BuiXohTN1i&context=Census

                description       value
6  All categories: Religion  CI_0018467
4                  Buddhist  CI_0018478
3                 Christian  CI_0018474
2                     Hindu  CI_0018482
1                    Jewish  CI_0018485
7                    Muslim  CI_0018489
0               No religion  CI_0018500
5            Other religion  CI_0018496
8       Religion not stated  CI_0018504
9                      Sikh  CI_0018493

In [381]:
df = classificationDetails('Age')
df

Age
Rows: 11, Columns: 3
http://data.ons.gov.uk/ons/api/data/classification/CL_0001091.json?apikey=BuiXohTN1i&context=Census

           description       value
5         Age 16 to 24  CI_0018621
1         Age 25 to 34  CI_0018622
4         Age 35 to 49  CI_0018623
2         Age 50 to 64  CI_0018624
0      Age 65 and over  CI_0018625
3  All categories: Age  CI_0018601

http://data.ons.gov.uk/ons/api/data/classification/CL_0001060.json?apikey=BuiXohTN1i&context=Census

           description       value
0          Age 0 to 15  CI_0018533
3         Age 16 to 24  CI_0018534
1         Age 25 to 49  CI_0018535
4         Age 50 to 64  CI_0018536
2      Age 65 and over  CI_0018537
5  All categories: Age  CI_0018528

http://data.ons.gov.uk/ons/api/data/classification/CL_0000954.json?apikey=BuiXohTN1i&context=Census

            description       value
11           Age 0 to 4  CI_0017440
3          Age 10 to 14  CI_0017443
14               Age 15  CI_0017444
16         Age 16 to 17  CI_0017445
10         Age 18 to 19  CI_0017446
9          Age 20 to 24  CI_0017447
13         Age 25 to 29  CI_0017448
1          Age 30 to 44  CI_0017449
0          Age 45 to 59  CI_0017450
4            Age 5 to 7  CI_0017441
7          Age 60 to 64  CI_0017451
6          Age 65 to 74  CI_0017452
12         Age 75 to 84  CI_0017453
15           Age 8 to 9  CI_0017442
8          Age 85 to 89  CI_0017454
2       Age 90 and over  CI_0017455
5   All categories: Age  CI_0017439

http://data.ons.gov.uk/ons/api/data/classification/CL_0001052.json?apikey=BuiXohTN1i&context=Census

            description       value
13                Age 1  CI_0018458
12               Age 10  CI_0018468
35               Age 11  CI_0018469
9                Age 12  CI_0018470
36               Age 13  CI_0018471
8                Age 14  CI_0018472
37               Age 15  CI_0018473
30               Age 16  CI_0018475
14               Age 17  CI_0018476
17               Age 18  CI_0018477
4                Age 19  CI_0018479
28                Age 2  CI_0018459
29               Age 20  CI_0018480
32               Age 21  CI_0018481
25               Age 22  CI_0018483
16               Age 23  CI_0018484
19               Age 24  CI_0018486
38         Age 25 to 29  CI_0018487
3                 Age 3  CI_0018460
10         Age 30 to 34  CI_0018488
34         Age 35 to 39  CI_0018490
23                Age 4  CI_0018461
5          Age 40 to 44  CI_0018491
0          Age 45 to 49  CI_0018492
21                Age 5  CI_0018462
26         Age 50 to 54  CI_0018494
22         Age 55 to 59  CI_0018495
20                Age 6  CI_0018463
7          Age 60 to 64  CI_0018497
2          Age 65 to 69  CI_0018498
15                Age 7  CI_0018464
6          Age 70 to 74  CI_0018499
27         Age 75 to 79  CI_0018501
11                Age 8  CI_0018465
18         Age 80 to 84  CI_0018502
24         Age 85 to 89  CI_0018503
31                Age 9  CI_0018466
39      Age 90 and over  CI_0018505
1           Age under 1  CI_0018457
33  All categories: Age  CI_0018425

http://data.ons.gov.uk/ons/api/data/classification/CL_0001063.json?apikey=BuiXohTN1i&context=Census

           description       value
2          Age 0 to 15  CI_0018551
0         Age 16 to 49  CI_0018552
3         Age 50 to 64  CI_0018553
1      Age 65 and over  CI_0018554
4  All categories: Age  CI_0018550

http://data.ons.gov.uk/ons/api/data/classification/CL_0001036.json?apikey=BuiXohTN1i&context=Census

            description       value
1            Age 0 to 4  CI_0018326
6          Age 10 to 15  CI_0018328
14         Age 16 to 19  CI_0018329
13         Age 20 to 24  CI_0018330
17         Age 25 to 29  CI_0018331
18         Age 30 to 34  CI_0018332
16         Age 35 to 39  CI_0018333
12         Age 40 to 44  CI_0018334
2          Age 45 to 49  CI_0018335
8            Age 5 to 9  CI_0018327
11         Age 50 to 54  CI_0018336
7          Age 55 to 59  CI_0018337
5          Age 60 to 64  CI_0018338
10         Age 65 to 69  CI_0018339
4          Age 70 to 74  CI_0018340
0          Age 75 to 79  CI_0018341
15         Age 80 to 84  CI_0018342
9       Age 85 and over  CI_0018343
3   All categories: Age  CI_0018323

http://data.ons.gov.uk/ons/api/data/classification/CL_0001057.json?apikey=BuiXohTN1i&context=Census

           description       value
0          Age 0 to 15  CI_0018519
3         Age 16 to 49  CI_0018520
1         Age 50 to 64  CI_0018521
2      Age 65 and over  CI_0018522
4  All categories: Age  CI_0018514

http://data.ons.gov.uk/ons/api/data/classification/CL_0001110.json?apikey=BuiXohTN1i&context=Census

                       description       value
0                     Age 16 to 24  CI_0018670
2                     Age 25 to 34  CI_0018674
4                     Age 35 to 49  CI_0018675
3                  Age 50 and over  CI_0018676
5                  Age 50 and over  CI_0018701
1  All categories: Age 16 and over  CI_0018677

http://data.ons.gov.uk/ons/api/data/classification/CL_0001274.json?apikey=BuiXohTN1i&context=Census
TypeError: <class 'TypeError'>
http://data.ons.gov.uk/ons/api/data/classification/CL_0001171.json?apikey=BuiXohTN1i&context=Census

                     description       value
0                   Age 16 to 19  CI_0018812
5                   Age 20 to 24  CI_0018813
10                  Age 25 to 29  CI_0018814
9                   Age 30 to 34  CI_0018815
4                   Age 35 to 39  CI_0018816
6                   Age 40 to 44  CI_0018817
11                  Age 45 to 49  CI_0018818
7                   Age 50 to 54  CI_0018819
1                   Age 55 to 59  CI_0018820
2                   Age 60 to 64  CI_0018821
8                   Age 65 to 74  CI_0018822
3   All categories: Age 16 to 74  CI_0018811

http://data.ons.gov.uk/ons/api/data/classification/CL_0001037.json?apikey=BuiXohTN1i&context=Census

                     description       value
50                        Age 16  CI_0018345
13                        Age 17  CI_0018346
32                        Age 18  CI_0018347
2                         Age 19  CI_0018348
28                        Age 20  CI_0018349
41                        Age 21  CI_0018350
38                        Age 22  CI_0018351
12                        Age 23  CI_0018352
18                        Age 24  CI_0018353
59                        Age 25  CI_0018354
15                        Age 26  CI_0018355
23                        Age 27  CI_0018356
51                        Age 28  CI_0018357
20                        Age 29  CI_0018358
56                        Age 30  CI_0018359
53                        Age 31  CI_0018360
44                        Age 32  CI_0018361
49                        Age 33  CI_0018362
19                        Age 34  CI_0018363
11                        Age 35  CI_0018364
5                         Age 36  CI_0018365
57                        Age 37  CI_0018366
35                        Age 38  CI_0018367
42                        Age 39  CI_0018368
47                        Age 40  CI_0018369
37                        Age 41  CI_0018370
22                        Age 42  CI_0018371
3                         Age 43  CI_0018372
25                        Age 44  CI_0018426
9                         Age 45  CI_0018427
0                         Age 46  CI_0018428
55                        Age 47  CI_0018429
30                        Age 48  CI_0018430
45                        Age 49  CI_0018431
36                        Age 50  CI_0018432
43                        Age 51  CI_0018433
1                         Age 52  CI_0018434
16                        Age 53  CI_0018435
21                        Age 54  CI_0018436
29                        Age 55  CI_0018437
24                        Age 56  CI_0018438
26                        Age 57  CI_0018439
7                         Age 58  CI_0018440
33                        Age 59  CI_0018441
31                        Age 60  CI_0018442
39                        Age 61  CI_0018443
27                        Age 62  CI_0018444
52                        Age 63  CI_0018445
4                         Age 64  CI_0018446
8                         Age 65  CI_0018447
34                        Age 66  CI_0018448
48                        Age 67  CI_0018449
17                        Age 68  CI_0018450
58                        Age 69  CI_0018451
46                        Age 70  CI_0018452
14                        Age 71  CI_0018453
40                        Age 72  CI_0018454
54                        Age 73  CI_0018455
10                        Age 74  CI_0018456
6   All categories: Age 16 to 74  CI_0018344

# Collections

In [382]:
context = 'Census'
datafilter = 'Religion'
url = '{}/collections.json?{}&context={}&find={}'.format(baseUrl, apikKeyParam, context, datafilter)
url

'http://data.ons.gov.uk/ons/api/data/collections.json?apikey=BuiXohTN1i&context=Census&find=Religion'

In [384]:
response = get(url)
if response['successful'] == False:
    print('Error')
else:
    print('Dataset for ', datafilter)
    content = response['json']
    temp = {'name' : [], 'description' : [], 'id' : [], 'url' : [], 'geohierarchy' : []}
    for collection in content['ons']['collectionList']['collection']:
        temp['name'].append([n for n in collection['names']['name'] if n['@xml.lang'] == 'en'][0]['$'])
        temp['description'].append(collection['description'])
        temp['id'].append(collection['id'])
        temp['url'].append([u for u in collection['urls']['url'] if u['@representation'] == 'json'][0]['href'])
        temp['geohierarchy'].append(collection['geographicalHierarchies'])
    df = pd.DataFrame(temp)
display(df.sort_values(['description']))

Dataset for  Religion

,description,geohierarchy,id,name,url
0,collection DC1202EW,{'geographicalHierarchy': [{'differentiator': ...,DC1202EW,Household composition by religion of Household...,collectiondetails/DC1202EW.json?context=Census...
1,collection DC2107EW,{'geographicalHierarchy': [{'differentiator': ...,DC2107EW,Religion by sex by age,collectiondetails/DC2107EW.json?context=Census...
2,collection DC2201EW,{'geographicalHierarchy': [{'differentiator': ...,DC2201EW,Ethnic group by religion,collectiondetails/DC2201EW.json?context=Census...
3,collection DC2204EW,{'geographicalHierarchy': [{'differentiator': ...,DC2204EW,National identity by religion,collectiondetails/DC2204EW.json?context=Census...
4,collection DC2207EW,{'geographicalHierarchy': [{'differentiator': ...,DC2207EW,Country of birth by religion by sex,collectiondetails/DC2207EW.json?context=Census...
5,collection DC4204EW,{'geographicalHierarchy': [{'differentiator': ...,DC4204EW,Tenure by car or van availability by religion ...,collectiondetails/DC4204EW.json?context=Census...
6,collection DC4207EW,{'geographicalHierarchy': [{'differentiator': ...,DC4207EW,Dwelling type by type of central heating in ho...,collectiondetails/DC4207EW.json?context=Census...
7,collection DC4208EW,{'geographicalHierarchy': [{'differentiator': ...,DC4208EW,Dwelling type by type of central heating in ho...,collectiondetails/DC4208EW.json?context=Census...
8,collection DC4409EWla,{'geographicalHierarchy': {'differentiator': '...,DC4409EWla,Communal establishment management and type by ...,collectiondetails/DC4409EWla.json?context=Cens...
9,collection DC5204EW,{'geographicalHierarchy': [{'differentiator': ...,DC5204EW,Highest level of qualification by religion by age,collectiondetails/DC5204EW.json?context=Census...
10,collection DC6205EW,{'geographicalHierarchy': [{'differentiator': ...,DC6205EW,Economic activity by religion by sex by age,collectiondetails/DC6205EW.json?context=Census...
11,collection DC6207EW,{'geographicalHierarchy': [{'differentiator': ...,DC6207EW,NS-SeC by religion by sex by age,collectiondetails/DC6207EW.json?context=Census...
12,collection DC6212EW,{'geographicalHierarchy': [{'differentiator': ...,DC6212EW,Industry by religion by age,collectiondetails/DC6212EW.json?context=Census...
13,collection DC6214EW,{'geographicalHierarchy': [{'differentiator': ...,DC6214EW,Occupation by religion by sex by age,collectiondetails/DC6214EW.json?context=Census...
14,collection DC6217EW,{'geographicalHierarchy': [{'differentiator': ...,DC6217EW,Industry by religion by sex,collectiondetails/DC6217EW.json?context=Census...
15,collection KS209EW,{'geographicalHierarchy': [{'differentiator': ...,KS209EW,Religion,collectiondetails/KS209EW.json?context=Census&...
16,collection LC1202EW,{'geographicalHierarchy': [{'differentiator': ...,LC1202EW,Household composition by religion of Household...,collectiondetails/LC1202EW.json?context=Census...
17,collection LC2107EW,{'geographicalHierarchy': [{'differentiator': ...,LC2107EW,Religion by sex by age,collectiondetails/LC2107EW.json?context=Census...
18,collection LC2120EW,{'geographicalHierarchy': [{'differentiator': ...,LC2120EW,Religion by accommodation type,collectiondetails/LC2120EW.json?context=Census...
19,collection LC2123EW,{'geographicalHierarchy': [{'differentiator': ...,LC2123EW,Religion of dependent child by sex,collectiondetails/LC2123EW.json?context=Census...
20,collection LC2201EW,{'geographicalHierarchy': [{'differentiator': ...,LC2201EW,Ethnic group by religion,collectiondetails/LC2201EW.json?context=Census...
21,collection LC2204EW,{'geographicalHierarchy': [{'differentiator': ...,LC2204EW,National identity by religion,collectiondetails/LC2204EW.json?context=Census...
22,collection LC2207EW,{'geographicalHierarchy': [{'differentiator': ...,LC2207EW,Country of birth by religion by sex,collectiondetails/LC2207EW.json?context=Census...
23,collection LC3203EW,{'geographicalHierarchy': [{'differentiator': ...,LC3203EW,General health by religion by sex by age,collectiondetails/LC3203EW.json?context=Census...
24,collection LC3207EW,{'geographicalHierarchy': [{'differentiator': ...,LC3207EW,Long-term health problem or disability by reli...,collectiondetails/LC3207EW.json?context=Census...
25,collection LC4204EW,{'geographicalHierarchy': [{'differentiator': ...,LC4204EW,Tenure by car or van availability by religion ...,collectiondetails/LC4204EW.json?context=Census...
26,collection LC4207EW,{'geographicalHierarchy': [{'differentiator': ...,LC4207EW,Occupancy rating (rooms) by religion of Househ...,collectiondetails/LC4207EW.json?context=Census...
27,collection LC4208EW,{'geographicalHierarchy': [{'differentiator': ...,LC4208EW,Occupancy rating (bedrooms) by religion of Hou...,collectiondetails/LC4208EW.json?context=Census...
28,collection LC4417EW,{'geographicalHierarchy': [{'differentiator': ...,LC4417EW,Tenure by car or van availability by religion,collectiondetails/LC4417EW.json?context=Census...
29,collection LC5204EW,{'geographicalHierarchy': [{'differentiator': ...,LC5204EW,Highest level of qualification by religion,collectiondetails/LC5204EW.json?context=Census...
30,collection LC6205EW,{'geographicalHierarchy': [{'differentiator': ...,LC6205EW,Economic activity by religion,collectiondetails/LC6205EW.json?context=Census...
31,collection LC6207EW,{'geographicalHierarchy': [{'differentiator': ...,LC6207EW,NS-SeC by religion,collectiondetails/LC6207EW.json?context=Census...
32,collection LC6212EW,{'geographicalHierarchy': [{'differentiator': ...,LC6212EW,Industry by religion,collectiondetails/LC6212EW.json?context=Census...
33,collection LC6214EW,{'geographicalHierarchy': [{'differentiator': ...,LC6214EW,Occupation by religion,collectiondetails/LC6214EW.json?context=Census...
34,collection OT210EW,{'geographicalHierarchy': [{'differentiator': ...,OT210EW,Religion (Out of term-time population),collectiondetails/OT210EW.json?context=Census&...
35,collection QS208EW,{'geographicalHierarchy': [{'differentiator': ...,QS208EW,Religion,collectiondetails/QS208EW.json?context=Census&...
36,collection QS210EW,{'geographicalHierarchy': [{'differentiator': ...,QS210EW,Religion (detailed),collectiondetails/QS210EW.json?context=Census&...
37,collection ST210EWla,{'geographicalHierarchy': {'differentiator': '...,ST210EWla,Religion (non-UK born short-term residents),collectiondetails/ST210EWla.json?context=Censu...
38,collection WD210EW,{'geographicalHierarchy': [{'differentiator': ...,WD210EW,Religion (Workday population),collectiondetails/WD210EW.json?context=Census&...
39,collection WP210EW,{'geographicalHierarchy': {'differentiator': '...,WP210EW,Religion (Workplace population),collectiondetails/WP210EW.json?context=Census&...

# Datasets

In [385]:
context = 'Census'
url = '{}/datasets.json?{}&context={}&class=CL_0000083'.format(baseUrl, apikKeyParam, context)
url

'http://data.ons.gov.uk/ons/api/data/datasets.json?apikey=BuiXohTN1i&context=Census&class=CL_0000083'

In [386]:
response = get(url)
if response['successful'] == False:
    print('Error')
else:
    content = response['json']
    prettyPrint(content)

{
  "ons": {
    "linkedNodes": {
      "linkedNode": {
        "urls": {
          "url": [
            {
              "href": ".xml?apikey=BuiXohTN1i&context=Census",
              "@representation": "xml"
            },
            {
              "href": ".json?apikey=BuiXohTN1i&context=Census",
              "@representation": "json"
            },
            {
              "href": ".html?apikey=BuiXohTN1i&context=Census",
              "@representation": "html"
            }
          ]
        },
        "name": "Root",
        "relation": "parent"
      }
    },
    "datasetList": {
      "contexts": {
        "context": {
          "contextName": "Census",
          "datasets": {
            "dataset": [
              {
                "names": {
                  "name": [
                    {
                      "@xml.lang": "en",
                      "$": "Economic activity"
                    },
                    {
                      "@xml.lang": "cy",
                      "$": "Gweithgarwch Economaidd"
                    }
                  ]
                },
                "replacement": false,
                "isHidden": "N",
                "id": "QS601EW",
                "urls": {
                  "url": [
                    {
                      "href": "datasetdetails/QS601EW.xml?apikey=BuiXohTN1i&context=Census&geog=2011PCONH",
                      "@representation": "xml"
                    },
                    {
                      "href": "datasetdetails/QS601EW.json?apikey=BuiXohTN1i&context=Census&geog=2011PCONH",
                      "@representation": "json"
                    },
                    {
                      "href": "datasetdetails/QS601EW.html?apikey=BuiXohTN1i&context=Census&geog=2011PCONH",
                      "@representation": "html"
                    }
                  ]
                },
                "publicationDate": "2013-10-19+01:00",
                "isGeoSignificant": "Y",
                "geographicalHierarchy": "2011PCONH"
              },
              {
                "names": {
                  "name": [
                    {
                      "@xml.lang": "en",
                      "$": "Economic activity"
                    },
                    {
                      "@xml.lang": "cy",
                      "$": "Gweithgarwch Economaidd"
                    }
                  ]
                },
                "replacement": false,
                "isHidden": "N",
                "id": "QS601EW",
                "urls": {
                  "url": [
                    {
                      "href": "datasetdetails/QS601EW.xml?apikey=BuiXohTN1i&context=Census&geog=2011WARDH",
                      "@representation": "xml"
                    },
                    {
                      "href": "datasetdetails/QS601EW.json?apikey=BuiXohTN1i&context=Census&geog=2011WARDH",
                      "@representation": "json"
                    },
                    {
                      "href": "datasetdetails/QS601EW.html?apikey=BuiXohTN1i&context=Census&geog=2011WARDH",
                      "@representation": "html"
                    }
                  ]
                },
                "publicationDate": "2013-10-19+01:00",
                "isGeoSignificant": "Y",
                "geographicalHierarchy": "2011WARDH"
              },
              {
                "names": {
                  "name": [
                    {
                      "@xml.lang": "en",
                      "$": "Economic activity"
                    },
                    {
                      "@xml.lang": "cy",
                      "$": "Gweithgarwch Economaidd"
                    }
                  ]
                },
                "replacement": false,
                "isHidden": "N",
                "id": "QS601EW",
                "urls": {
                  "url": [
                    {
                      "href": "datasetdetails/QS601EW.xml?apikey=BuiXohTN1i&context=Census&geog=2011STATH",
                      "@representation": "xml"
                    },
                    {
                      "href": "datasetdetails/QS601EW.json?apikey=BuiXohTN1i&context=Census&geog=2011STATH",
                      "@representation": "json"
                    },
                    {
                      "href": "datasetdetails/QS601EW.html?apikey=BuiXohTN1i&context=Census&geog=2011STATH",
                      "@representation": "html"
                    }
                  ]
                },
                "publicationDate": "2014-10-16+01:00",
                "isGeoSignificant": "Y",
                "geographicalHierarchy": "2011STATH"
              },
              {
                "names": {
                  "name": [
                    {
                      "@xml.lang": "en",
                      "$": "Economic activity"
                    },
                    {
                      "@xml.lang": "cy",
                      "$": "Gweithgarwch Economaidd"
                    }
                  ]
                },
                "replacement": false,
                "isHidden": "N",
                "id": "QS601EW",
                "urls": {
                  "url": [
                    {
                      "href": "datasetdetails/QS601EW.xml?apikey=BuiXohTN1i&context=Census&geog=2013HEALTHH",
                      "@representation": "xml"
                    },
                    {
                      "href": "datasetdetails/QS601EW.json?apikey=BuiXohTN1i&context=Census&geog=2013HEALTHH",
                      "@representation": "json"
                    },
                    {
                      "href": "datasetdetails/QS601EW.html?apikey=BuiXohTN1i&context=Census&geog=2013HEALTHH",
                      "@representation": "html"
                    }
                  ]
                },
                "publicationDate": "2015-02-11Z",
                "isGeoSignificant": "Y",
                "geographicalHierarchy": "2013HEALTHH"
              },
              {
                "names": {
                  "name": [
                    {
                      "@xml.lang": "en",
                      "$": "Economic activity"
                    },
                    {
                      "@xml.lang": "cy",
                      "$": "Gweithgarwch Economaidd"
                    }
                  ]
                },
                "replacement": false,
                "isHidden": "N",
                "id": "QS601EW",
                "urls": {
                  "url": [
                    {
                      "href": "datasetdetails/QS601EW.xml?apikey=BuiXohTN1i&context=Census&geog=2011PARISH",
                      "@representation": "xml"
                    },
                    {
                      "href": "datasetdetails/QS601EW.json?apikey=BuiXohTN1i&context=Census&geog=2011PARISH",
                      "@representation": "json"
                    },
                    {
                      "href": "datasetdetails/QS601EW.html?apikey=BuiXohTN1i&context=Census&geog=2011PARISH",
                      "@representation": "html"
                    }
                  ]
                },
                "publicationDate": "2015-05-15+01:00",
                "isGeoSignificant": "Y",
                "geographicalHierarchy": "2011PARISH"
              },
              {
                "names": {
                  "name": [
                    {
                      "@xml.lang": "en",
                      "$": "Economic activity"
                    },
                    {
                      "@xml.lang": "cy",
                      "$": "Gweithgarwch Economaidd"
                    }
                  ]
                },
                "replacement": false,
                "isHidden": "N",
                "id": "QS601EW",
                "urls": {
                  "url": [
                    {
                      "href": "datasetdetails/QS601EW.xml?apikey=BuiXohTN1i&context=Census&geog=2011NAWH",
                      "@representation": "xml"
                    },
                    {
                      "href": "datasetdetails/QS601EW.json?apikey=BuiXohTN1i&context=Census&geog=2011NAWH",
                      "@representation": "json"
                    },
                    {
                      "href": "datasetdetails/QS601EW.html?apikey=BuiXohTN1i&context=Census&geog=2011NAWH",
                      "@representation": "html"
                    }
                  ]
                },
                "publicationDate": "2015-03-23Z",
                "isGeoSignificant": "Y",
                "geographicalHierarchy": "2011NAWH"
              },
              {
                "names": {
                  "name": [
                    {
                      "@xml.lang": "en",
                      "$": "Economic activity"
                    },
                    {
                      "@xml.lang": "cy",
                      "$": "Gweithgarwch Economaidd"
                    }
                  ]
                },
                "replacement": false,
                "isHidden": "N",
                "id": "QS601EW",
                "urls": {
                  "url": [
                    {
                      "href": "datasetdetails/QS601EW.xml?apikey=BuiXohTN1i&context=Census&geog=2011BUAH",
                      "@representation": "xml"
                    },
                    {
                      "href": "datasetdetails/QS601EW.json?apikey=BuiXohTN1i&context=Census&geog=2011BUAH",
                      "@representation": "json"
                    },
                    {
                      "href": "datasetdetails/QS601EW.html?apikey=BuiXohTN1i&context=Census&geog=2011BUAH",
                      "@representation": "html"
                    }
                  ]
                },
                "publicationDate": "2015-10-13+01:00",
                "isGeoSignificant": "Y",
                "geographicalHierarchy": "2011BUAH"
              },
              {
                "names": {
                  "name": [
                    {
                      "@xml.lang": "en",
                      "$": "Economic activity"
                    },
                    {
                      "@xml.lang": "cy",
                      "$": "Gweithgarwch Economaidd"
                    }
                  ]
                },
                "replacement": false,
                "isHidden": "N",
                "id": "QS601EW",
                "urls": {
                  "url": [
                    {
                      "href": "datasetdetails/QS601EW.xml?apikey=BuiXohTN1i&context=Census&geog=2014WARDH",
                      "@representation": "xml"
                    },
                    {
                      "href": "datasetdetails/QS601EW.json?apikey=BuiXohTN1i&context=Census&geog=2014WARDH",
                      "@representation": "json"
                    },
                    {
                      "href": "datasetdetails/QS601EW.html?apikey=BuiXohTN1i&context=Census&geog=2014WARDH",
                      "@representation": "html"
                    }
                  ]
                },
                "publicationDate": "2015-07-26+01:00",
                "isGeoSignificant": "Y",
                "geographicalHierarchy": "2014WARDH"
              },
              {
                "names": {
                  "name": [
                    {
                      "@xml.lang": "en",
                      "$": "Economic activity (non-UK born short-term residents)"
                    },
                    {
                      "@xml.lang": "cy",
                      "$": "Gweithgarwch economaidd (preswylwyr byrdymor na chawsant eu geni yn y DU)"
                    }
                  ]
                },
                "replacement": false,
                "isHidden": "N",
                "id": "ST601EWla",
                "urls": {
                  "url": [
                    {
                      "href": "datasetdetails/ST601EWla.xml?apikey=BuiXohTN1i&context=Census&geog=2011CMLADH",
                      "@representation": "xml"
                    },
                    {
                      "href": "datasetdetails/ST601EWla.json?apikey=BuiXohTN1i&context=Census&geog=2011CMLADH",
                      "@representation": "json"
                    },
                    {
                      "href": "datasetdetails/ST601EWla.html?apikey=BuiXohTN1i&context=Census&geog=2011CMLADH",
                      "@representation": "html"
                    }
                  ]
                },
                "publicationDate": "2014-08-26+01:00",
                "isGeoSignificant": "Y",
                "geographicalHierarchy": "2011CMLADH"
              }
            ]
          }
        }
      }
    },
    "node": {
      "urls": {
        "url": [
          {
            "href": "datasets.xml?apikey=BuiXohTN1i&context=Census&class=CL_0000083",
            "@representation": "xml"
          },
          {
            "href": "datasets.json?apikey=BuiXohTN1i&context=Census&class=CL_0000083",
            "@representation": "json"
          },
          {
            "href": "datasets.html?apikey=BuiXohTN1i&context=Census&class=CL_0000083",
            "@representation": "html"
          }
        ]
      },
      "description": "",
      "name": "Datasets"
    },
    "base": {
      "@href": "http://web.ons.gov.uk/ons/api/data/"
    }
  }
}