# Carole's playground

In [229]:
import requests
import json
import pandas as pd
from IPython.display import display, HTML

In [180]:
def prettyPrint(rawjson):
    print(json.dumps(rawjson, indent=2))
def prettyDfSize(df):
    print('Rows: {}, Columns: {}'.format(len(df), len(df.columns)))

In [173]:
apikey = 'BuiXohTN1i'
baseUrl = 'http://data.ons.gov.uk/ons/api/data'
apikKeyParam = 'apikey={}'.format(apikey);

url = 'http://data.ons.gov.uk/ons/api/data/.json?apikey=' + apikey

## Available contexts

In [174]:
url = '{}/contexts.json?{}'.format(baseUrl, apikKeyParam)
print(url)
resp = requests.get(url)
contexts =json.loads(resp.text)
for context in contexts['ons']['contextList']['statisticalContext']:
    print(context)

http://data.ons.gov.uk/ons/api/data/contexts.json?apikey=BuiXohTN1i
{'contextName': 'Census', 'contextId': 1}
{'contextName': 'Socio-Economic', 'contextId': 2}
{'contextName': 'Economic', 'contextId': 3}
{'contextName': 'Social', 'contextId': 4}

## Concepts
The context must be set to Census

In [175]:
context = 'Census'
url = '{}/concepts.json?{}&context={}'.format(baseUrl, apikKeyParam, context)
url

'http://data.ons.gov.uk/ons/api/data/concepts.json?apikey=BuiXohTN1i&context=Census'

In [176]:
r = requests.get(url)
if(r.status_code != 200):
    print('Error returned for {}: {}'.format(r.url, r.status_code))
    print(r.text)
else:
    raw = json.loads(r.text)
    concepts = [concept for concept in raw['ons']['conceptList']['concept']]
    temp = {'name':[], 'id':[], 'usage_number':[]}
    temp['id'] = [concept['id'] for concept in concepts]
    temp['usage_number'] = [concept['collectionCount'] for concept in concepts]
    temp['name'] = [[name['$'] for name in concept['names']['name'] if name['@xml.lang'] == 'en'][0] for concept in concepts]
    conceptsdf = pd.DataFrame(temp)
    conceptsdf['id'] = conceptsdf['id'].astype(int)

#### List of concepts

In [181]:
prettyDfSize(conceptsdf)
conceptsdf.sort_values(['name'])

Rows: 58, Columns: 3

     id                                               name  usage_number
35   45                                 Accommodation type            19
11    1                                                Age           186
47   72                           Age of arrival in the UK             9
34   46                                       Cars or vans            30
33   47                                    Central heating            11
32   48                            Communal establishments            23
19   32                                   Country of birth            42
57   21                                         Demography             0
10   22                                 Dependent children            26
31   49                                          Dwellings             6
42   62                                  Economic activity            62
18   33                                       Ethnic group            65
56   31         Ethnicity, Identity, Language and Religion             0
0    76                                        Family type            18
22   41                                     General health            37
55   40                                             Health             4
48   60                     Highest level of qualification            52
41   63                                       Hours worked            14
9    23                              Household composition            47
8    24                   Household deprivation dimensions             1
30   50                                     Household size             5
29   51                             Household space status             4
54   44                          Housing and Accommodation             0
40   64                                           Industry            39
44  136                                 Internal migration             8
52   61                                      Labour Market             0
46   73                      Length of residence in the UK             4
7    25                                Living arrangements             8
21   42             Long-term health problem or disability            27
17   34                                      Main language            11
1    75                Marital and civil partnership staus             7
43   70                           Method of travel to work            26
50   71                                          Migration             7
39   65  National Statistics Socio-economic Classification            41
16   35                                  National identity            12
28   52                                 Number of bedrooms            10
27   53                                    Number of rooms             2
26   54                                   Occupancy rating            26
38   66                                         Occupation            44
15   36                                          Passports            36
6    26                             People sleeeping rough             0
25   55                                Persons per bedroom             6
24   56                                   Persons per room             6
5    27                                 Population density             1
14   37                             Proficiency in English            16
20   43                           Provision of unpaid care            12
49   58                                     Qualifications             1
53   59                                     Qualifications             0
13   38                                           Religion            38
4    28                                     Residence type             9
3    29                                     Second address             6
2    30                                                Sex           169
37   67                                       Social grade            14
23   57                                             Tenure            57
51   69                                     Travel to work            19
12   39                                     Welsh language            42
36   68                                   Year last worked             6
45   74                          Year of arrival in the UK            21

# Classifications

In [136]:
context = 'Census'
url = '{}/classifications.json?{}&context={}'.format(baseUrl, apikKeyParam, context)
url

'http://data.ons.gov.uk/ons/api/data/classifications.json?apikey=BuiXohTN1i&context=Census'

In [137]:
r = requests.get(url)
if(r.status_code != 200):
    print('Error returned for {}: {}'.format(r.url, r.status_code))
    print(r.text)
else:
    raw = json.loads(r.text)
    classifications = [classification for classification in raw['ons']['classificationList']['classification']]
    temp = {'name':[], 'id':[], 'url':[]}
    temp['id'] = [classification['id'] for classification in classifications]
    temp['name'] = [[name['$'] for name in classification['names']['name'] if name['@xml.lang'] == 'en'][0] for classification in classifications]
    temp['url'] = [[url['href'] for url in classification['urls']['url'] if url['@representation'] == 'json'][0] for classification in classifications]
    classificationsdf = pd.DataFrame(temp)

#### List of classifications

In [182]:
prettyDfSize(classificationsdf)
classificationsdf.sort_values(['name'])

Rows: 546, Columns: 3

,id,name,url
521,CL_0000100,Ability to read Welsh language (T001A),classification/CL_0000100.json?apikey=BuiXohTN...
508,CL_0001361,Ability to speak Welsh (T003D),classification/CL_0001361.json?apikey=BuiXohTN...
147,CL_0000111,Ability to speak Welsh and age of dependent ch...,classification/CL_0000111.json?apikey=BuiXohTN...
408,CL_0000101,Ability to speak Welsh language (T001A),classification/CL_0000101.json?apikey=BuiXohTN...
223,CL_0000024,Ability to speak Welsh language (T003A),classification/CL_0000024.json?apikey=BuiXohTN...
68,CL_0000102,Ability to understand spoken Welsh language (T...,classification/CL_0000102.json?apikey=BuiXohTN...
323,CL_0000103,Ability to write Welsh language (T001A),classification/CL_0000103.json?apikey=BuiXohTN...
107,CL_0000969,Accommodation type,classification/CL_0000969.json?apikey=BuiXohTN...
502,CL_0000551,Accommodation type (T003A),classification/CL_0000551.json?apikey=BuiXohTN...
82,CL_0000532,Accommodation type (T004A),classification/CL_0000532.json?apikey=BuiXohTN...
514,CL_0000507,Accommodation type (T006A),classification/CL_0000507.json?apikey=BuiXohTN...
20,CL_0000159,Accommodation type (T009A),classification/CL_0000159.json?apikey=BuiXohTN...
283,CL_0000975,Accommodation type (percentage),classification/CL_0000975.json?apikey=BuiXohTN...
26,CL_0000204,Accommodation type by dwelling type (T011A),classification/CL_0000204.json?apikey=BuiXohTN...
58,CL_0000105,Accommodation type by dwelling type (T012A),classification/CL_0000105.json?apikey=BuiXohTN...
14,CL_0000597,Adult lifestage (T011A),classification/CL_0000597.json?apikey=BuiXohTN...
363,CL_0000529,Adult lifestage (T014A),classification/CL_0000529.json?apikey=BuiXohTN...
304,CL_0000070,Adult lifestage (T027A),classification/CL_0000070.json?apikey=BuiXohTN...
237,CL_0000937,Adults not in employment and dependent children,classification/CL_0000937.json?apikey=BuiXohTN...
276,CL_0000941,Adults not in employment and dependent childre...,classification/CL_0000941.json?apikey=BuiXohTN...
362,CL_0001057,Age,classification/CL_0001057.json?apikey=BuiXohTN...
128,CL_0001060,Age,classification/CL_0001060.json?apikey=BuiXohTN...
499,CL_0001037,Age,classification/CL_0001037.json?apikey=BuiXohTN...
60,CL_0001091,Age,classification/CL_0001091.json?apikey=BuiXohTN...
434,CL_0001274,Age,classification/CL_0001274.json?apikey=BuiXohTN...
314,CL_0001036,Age,classification/CL_0001036.json?apikey=BuiXohTN...
309,CL_0001063,Age,classification/CL_0001063.json?apikey=BuiXohTN...
241,CL_0000954,Age,classification/CL_0000954.json?apikey=BuiXohTN...
386,CL_0001110,Age,classification/CL_0001110.json?apikey=BuiXohTN...
289,CL_0001052,Age,classification/CL_0001052.json?apikey=BuiXohTN...
...,...,...,...
229,CL_0000516,Unemployment history (T009A),classification/CL_0000516.json?apikey=BuiXohTN...
139,CL_0000081,Unemployment history (T012A),classification/CL_0000081.json?apikey=BuiXohTN...
518,CL_0000037,Unit in which the data values are measured,classification/CL_0000037.json?apikey=BuiXohTN...
43,CL_0000146,Usual resident (Indicator) by age 16 and over ...,classification/CL_0000146.json?apikey=BuiXohTN...
280,CL_0000014,Usual resident (Indicator) by age 3 and over (...,classification/CL_0000014.json?apikey=BuiXohTN...
406,CL_0000775,Usual resident (Indicator) by residence type (...,classification/CL_0000775.json?apikey=BuiXohTN...
416,CL_0000800,Welsh Language Skills,classification/CL_0000800.json?apikey=BuiXohTN...
532,CL_0000801,Welsh Language Skills (Percentage),classification/CL_0000801.json?apikey=BuiXohTN...
142,CL_0000110,Welsh household composition (T009A),classification/CL_0000110.json?apikey=BuiXohTN...
19,CL_0000490,Welsh household composition (T014A),classification/CL_0000490.json?apikey=BuiXohTN...
365,CL_0000288,Welsh household composition (extended) (T018A),classification/CL_0000288.json?apikey=BuiXohTN...
329,CL_0000802,Welsh language profile,classification/CL_0000802.json?apikey=BuiXohTN...
204,CL_0000803,Welsh language profile (Percentage),classification/CL_0000803.json?apikey=BuiXohTN...
114,CL_0000191,Welsh language skills (Indicator) (T001A),classification/CL_0000191.json?apikey=BuiXohTN...
432,CL_0000122,Welsh language skills (Indicator) (T003A),classification/CL_0000122.json?apikey=BuiXohTN...
305,CL_0000871,Welsh language skills (T009A),classification/CL_0000871.json?apikey=BuiXohTN...
512,CL_0000869,Welsh language skills (T009A),classification/CL_0000869.json?apikey=BuiXohTN...
417,CL_0000870,Welsh language skills (detailed) (T012A),classification/CL_0000870.json?apikey=BuiXohTN...
467,CL_0000872,Welsh language skills (detailed) (T012A),classification/CL_0000872.json?apikey=BuiXohTN...
140,CL_0000082,Welsh language skills 2 (T001A),classification/CL_0000082.json?apikey=BuiXohTN...
281,CL_0000474,Welsh language skills 2 (T007A),classification/CL_0000474.json?apikey=BuiXohTN...
221,CL_0000092,Welsh language skills 2 (T009A),classification/CL_0000092.json?apikey=BuiXohTN...
167,CL_0000088,Welsh language skills 2 (T011A),classification/CL_0000088.json?apikey=BuiXohTN...
271,CL_0001358,Welsh speaking households (T003D),classification/CL_0001358.json?apikey=BuiXohTN...
490,CL_0000170,Year of arrival in the UK (T007A),classification/CL_0000170.json?apikey=BuiXohTN...
152,CL_0000167,Year of arrival in the UK (T007B),classification/CL_0000167.json?apikey=BuiXohTN...
211,CL_0000192,Year of arrival in the UK (T007C),classification/CL_0000192.json?apikey=BuiXohTN...
203,CL_0000030,Year of arrival in the UK (T007D),classification/CL_0000030.json?apikey=BuiXohTN...
50,CL_0000096,Year of arrival in the UK (T012A),classification/CL_0000096.json?apikey=BuiXohTN...
89,CL_0000171,Year of arrival in the UK (T013A),classification/CL_0000171.json?apikey=BuiXohTN...

### Classification Details
#### Religion

In [235]:
def classificationDetails(classificationName):
    print(classificationName)
    filteredClassifications = classificationsdf[classificationsdf.name == classificationName]
    prettyDfSize(filteredClassifications)
    
    for index, classification in filteredClassifications.iterrows():
        urlarg = classification['url']
        url = '{}/{}'.format(baseUrl, urlarg)
        print(url)

        r = requests.get(url)
        if(r.status_code != 200):
            print('Error returned for {}: {}'.format(r.url, r.status_code))
            print(r.text)
        else:
            raw = json.loads(r.text)
            codes = [code for code in raw['Structure']['CodeLists']['CodeList']['Code']]
            temp = {'description':[], 'value':[]}
            temp['value'] = [code['@value'] for code in codes]
            temp['description'] = [[desc['$'] for desc in code['Description'] if desc['@xml.lang'] == 'en'][0] for code in codes]
            codesdf = pd.DataFrame(temp)
            display(codesdf.sort_values(['description']))

In [236]:
df = classificationDetails('Religion')
df

Religion
Rows: 1, Columns: 3
http://data.ons.gov.uk/ons/api/data/classification/CL_0001053.json?apikey=BuiXohTN1i&context=Census

                description       value
8  All categories: Religion  CI_0018467
5                  Buddhist  CI_0018478
9                 Christian  CI_0018474
7                     Hindu  CI_0018482
0                    Jewish  CI_0018485
2                    Muslim  CI_0018489
1               No religion  CI_0018500
4            Other religion  CI_0018496
3       Religion not stated  CI_0018504
6                      Sikh  CI_0018493

In [237]:
df = classificationDetails('Age')
df

Age
Rows: 11, Columns: 3
http://data.ons.gov.uk/ons/api/data/classification/CL_0001091.json?apikey=BuiXohTN1i&context=Census

           description       value
0         Age 16 to 24  CI_0018621
1         Age 25 to 34  CI_0018622
2         Age 35 to 49  CI_0018623
5         Age 50 to 64  CI_0018624
3      Age 65 and over  CI_0018625
4  All categories: Age  CI_0018601

http://data.ons.gov.uk/ons/api/data/classification/CL_0001060.json?apikey=BuiXohTN1i&context=Census

           description       value
0          Age 0 to 15  CI_0018533
4         Age 16 to 24  CI_0018534
3         Age 25 to 49  CI_0018535
5         Age 50 to 64  CI_0018536
2      Age 65 and over  CI_0018537
1  All categories: Age  CI_0018528

http://data.ons.gov.uk/ons/api/data/classification/CL_0000954.json?apikey=BuiXohTN1i&context=Census

            description       value
9            Age 0 to 4  CI_0017440
12         Age 10 to 14  CI_0017443
13               Age 15  CI_0017444
16         Age 16 to 17  CI_0017445
11         Age 18 to 19  CI_0017446
6          Age 20 to 24  CI_0017447
4          Age 25 to 29  CI_0017448
5          Age 30 to 44  CI_0017449
8          Age 45 to 59  CI_0017450
10           Age 5 to 7  CI_0017441
2          Age 60 to 64  CI_0017451
15         Age 65 to 74  CI_0017452
3          Age 75 to 84  CI_0017453
1            Age 8 to 9  CI_0017442
14         Age 85 to 89  CI_0017454
0       Age 90 and over  CI_0017455
7   All categories: Age  CI_0017439

http://data.ons.gov.uk/ons/api/data/classification/CL_0001052.json?apikey=BuiXohTN1i&context=Census

            description       value
37                Age 1  CI_0018458
25               Age 10  CI_0018468
34               Age 11  CI_0018469
35               Age 12  CI_0018470
39               Age 13  CI_0018471
1                Age 14  CI_0018472
19               Age 15  CI_0018473
18               Age 16  CI_0018475
11               Age 17  CI_0018476
13               Age 18  CI_0018477
23               Age 19  CI_0018479
9                 Age 2  CI_0018459
7                Age 20  CI_0018480
21               Age 21  CI_0018481
26               Age 22  CI_0018483
38               Age 23  CI_0018484
10               Age 24  CI_0018486
12         Age 25 to 29  CI_0018487
5                 Age 3  CI_0018460
17         Age 30 to 34  CI_0018488
32         Age 35 to 39  CI_0018490
4                 Age 4  CI_0018461
14         Age 40 to 44  CI_0018491
2          Age 45 to 49  CI_0018492
36                Age 5  CI_0018462
15         Age 50 to 54  CI_0018494
16         Age 55 to 59  CI_0018495
33                Age 6  CI_0018463
0          Age 60 to 64  CI_0018497
22         Age 65 to 69  CI_0018498
24                Age 7  CI_0018464
28         Age 70 to 74  CI_0018499
30         Age 75 to 79  CI_0018501
6                 Age 8  CI_0018465
3          Age 80 to 84  CI_0018502
29         Age 85 to 89  CI_0018503
8                 Age 9  CI_0018466
31      Age 90 and over  CI_0018505
27          Age under 1  CI_0018457
20  All categories: Age  CI_0018425

http://data.ons.gov.uk/ons/api/data/classification/CL_0001063.json?apikey=BuiXohTN1i&context=Census

           description       value
3          Age 0 to 15  CI_0018551
1         Age 16 to 49  CI_0018552
0         Age 50 to 64  CI_0018553
4      Age 65 and over  CI_0018554
2  All categories: Age  CI_0018550

http://data.ons.gov.uk/ons/api/data/classification/CL_0001036.json?apikey=BuiXohTN1i&context=Census

            description       value
6            Age 0 to 4  CI_0018326
8          Age 10 to 15  CI_0018328
17         Age 16 to 19  CI_0018329
4          Age 20 to 24  CI_0018330
18         Age 25 to 29  CI_0018331
11         Age 30 to 34  CI_0018332
13         Age 35 to 39  CI_0018333
0          Age 40 to 44  CI_0018334
10         Age 45 to 49  CI_0018335
16           Age 5 to 9  CI_0018327
3          Age 50 to 54  CI_0018336
2          Age 55 to 59  CI_0018337
15         Age 60 to 64  CI_0018338
12         Age 65 to 69  CI_0018339
14         Age 70 to 74  CI_0018340
7          Age 75 to 79  CI_0018341
1          Age 80 to 84  CI_0018342
9       Age 85 and over  CI_0018343
5   All categories: Age  CI_0018323

http://data.ons.gov.uk/ons/api/data/classification/CL_0001057.json?apikey=BuiXohTN1i&context=Census

           description       value
3          Age 0 to 15  CI_0018519
1         Age 16 to 49  CI_0018520
4         Age 50 to 64  CI_0018521
0      Age 65 and over  CI_0018522
2  All categories: Age  CI_0018514

http://data.ons.gov.uk/ons/api/data/classification/CL_0001110.json?apikey=BuiXohTN1i&context=Census

                       description       value
0                     Age 16 to 24  CI_0018670
1                     Age 25 to 34  CI_0018674
3                     Age 35 to 49  CI_0018675
4                  Age 50 and over  CI_0018676
5                  Age 50 and over  CI_0018701
2  All categories: Age 16 and over  CI_0018677

http://data.ons.gov.uk/ons/api/data/classification/CL_0001274.json?apikey=BuiXohTN1i&context=Census

TypeError: string indices must be integers

In [243]:
r = requests.get('http://data.ons.gov.uk/ons/api/data/classification/CL_0001274.json?apikey=BuiXohTN1i&context=Census')
prettyPrint(json.dumps(json.load(r.text)))

AttributeError: 'str' object has no attribute 'read'