In [1]:
import sys
sys.path.insert(0, '../python/lib/')
import ons
import utl
import pandas
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import pylab
%matplotlib inline
pylab.rcParams['figure.figsize'] = (15, 8)
api_key = <your api key here>

In [35]:
%%capture
datasets= ons.get_datasets_for_context('Social',api_key)
datasets.head()

,name,geography,differentiator,file_url,publication_date
0,Small Area Population Estimates,2011 Statistical Geography Hierarchy,2011,http://data.statistics.gov.uk/ons/datasets/csv...,2015-04-02+01:00
1,Small Area Population Estimates,2011 Statistical Geography Hierarchy,2012,http://data.statistics.gov.uk/ons/datasets/csv...,2015-04-02+01:00
2,Small Area Population Estimates,2011 Statistical Geography Hierarchy,2010,http://data.statistics.gov.uk/ons/datasets/csv...,2015-04-02+01:00
3,Small Area Population Estimates,2011 Statistical Geography Hierarchy,2005,http://data.statistics.gov.uk/ons/datasets/csv...,2015-04-02+01:00
4,Small Area Population Estimates,2011 Statistical Geography Hierarchy,2004,http://data.statistics.gov.uk/ons/datasets/csv...,2015-04-02+01:00

In [32]:
url = datasets[(datasets['name'] == 'Small Area Population Estimates') 
               & (datasets['differentiator']==2011) 
               & (datasets['geography']=='2013 Health Area Hierarchy')]['file_url'].values[0]
data = utl.get_csv_data_from_url(url)

In [33]:
data.head()

        0                                  1                             \
   Female    Male Total: All Persons  Female    Male Total: All Persons
0  348918  366537             715455  344644  360920             705564
1  331210  347892             679102  327248  342610             669858
2   17708   18645              36353   17396   18310              35706
3   91164   95149             186313   90300   94784             185084
4   98843  103623             202466   97679  102588             200267

       10                                 11        ...               9  \
   Female    Male Total: All Persons  Female        ...            Male
0  301342  314994             616336  308567        ...          307653
1  285375  297817             583192  291981        ...          291242
2   15967   17177              33144   16586        ...           16411
3   80072   83255             163327   82119        ...           82095
4   88635   91868             180503   90323        ...           90058

                     90 and over                             \
  Total: All Persons     Female"    Male Total: All Persons
0             600322     321893"  118399             440292
1             568460     302611"  111803             414414
2              31862      19282"    6596              25878
3             160218      81342"   28531             109873
4             175536      93155"   34617             127772

                Geographic Area Geographic ID Total: All Ages            \
                                                       Female      Male
0             England and Wales     K04000001        28533290  27637637
1                       England     E92000001        26974007  26133162
2                         Wales     W92000004         1559283   1504475
3              North of England     E40000001         7675171   7411604
4  Midlands and East of England     E40000002         8174532   7943239


  Total: All Persons
0           56170927
1           53107169
2            3063758
3           15086775
4           16117771

[5 rows x 278 columns]